
:root {
  /* primaries */
  --violet: hsl(263, 55%, 52%);
  --dark-grey: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  /* neutrals */
  --light-grey: hsl(0, 0%, 81%);
  --off-white: hsl(210, 46%, 95%);

}

body{
  background-color: var(--off-white);
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding: 2rem 1rem;
}

main{
  margin: auto;
  max-width: 20rem;
}

div{
  background-color: var(--white);
  border-radius: 2%;
  color: var(--dark-grey);
  margin: 2rem 1rem;
  padding: 1rem;

}

img{
  border-radius: 100%;
}

h3{
  opacity: 50%;
}

.quote {
  opacity: 70%;
}

.purple-testimonial{
  background:var(--violet) url(images/quote-mark.svg) no-repeat top right;
  color: var(--white);
}
.grey-testimonial{
  background-color: var(--dark-grey);
  color: var(--white);
}
.blue-testimonial{
  background-color: var(--dark-blue);
  color: var(--white);
}
